.third-headline {
  margin-top: 20px;
  font-size: 0.02 * 100vw;
  background-color: rgba(128, 0, 0, 0.5);
}

.fourth-headline {
  margin-top: 20px;
  font-size: 0.015 * 100vw;
  background-color: rgba(59, 226, 25, 0.5);
}